# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env (em qualquer pasta)
.env
.env.*
!.env.example

# Build
dist/
build/

# Coverage / testes
coverage/

# Logs gerais
*.log

# Docker
*.pid
Dockerfile
.dockerignore

# OS
.DS_Store
Thumbs.db

secret-api-env.json
server/api-env.json
server/allow-secret.json
server/backup_adotapet.dump
*.dump
